<li class="add-attendee-container container-style container-margins element-color row">
        <div class="add-attendee-title container-header row">
            <h1 class="text-center text-shadow container-header-font">Teilnehmer
                zu <span class="course-name">Karate</span> hinzufügen</h1>
        </div>
        <div class="user-list-container">
            <ul class="user-list">
            </ul>
        </div>
        <div class="course-container text-center">
            <div class="drop-box row">

            </div>
        </div>
        <button type="button" class="btn btn-light back-adding-attendees add-attendee-button-layout">Abbrechen</button>
        <button type="submit" class="btn btn-light submit-adding-attendees add-attendee-button-layout">Ok</button>
</li>

