<li class="add-dates-container container-style container-margins element-color row">
    <div class="container-header row">
        <h1 class="text-center text-shadow container-header-font">Termine hinzufügen</h1>
    </div>
    <div class="datepicker-container different-height">
        <form class="create-date">
            <button type="button" class="btn btn-light back">Abbrechen</button>
            <button type="submit" class="btn btn-light submit-creation">Hinzufügen</button>
        </form>
    </div>
</li>