<li class="add-attendee-container container-margins element-color row container-margins">
    <div class="add-attendee-title row">
        <h1 class="text-center text-shadow">Teilnehmer
            zu <span class="course-name">Karate</span> hinzufügen</h1>
    </div>
    <div class="user-list-container">
        <ul class="user-list">
        </ul>
    </div>
    <div class="course-container text-center">
        <div class="drag-box row">

        </div>
    </div>
    <button type="button" class="btn btn-light back-adding-attendees add-attendee-button-layout">Abbrechen</button>
    <button type="submit" class="btn btn-light submit-adding-attendees add-attendee-button-layout">Ok</button>
</li>