<ul class="create-course-list layout-styles" id="course-creation-container">
    <li class="create-course-container layout-styles container-margins element-color row" id="create-course-element">
        <div class="create-course-title row">
            <h1 class="text-center text-shadow" id="create-course-title">Neuen Kurs hinzufügen</h1>
        </div>
        <div class="form-container different-height">
            <form name="create-course" class="create-course" id="course-creation-form">
                <div class="form-group">
                    <label class="text-shadow">
                        Titel
                    </label>
                    <input type="text" class="form-control" placeholder="Kurstitel" id="course-title">
                </div>
                <button type="button" class="btn btn-light back" id="back-button-course-creation">Zurück</button>
                <button type="submit" class="btn btn-light submit-creation">Hinzufügen</button>
            </form>
        </div>
    </li>
</ul>