<li class="list-element row element-color text-shadow container-margins">
    <div class="col-xs-8 col-md-9 course-data">
        <p class="course-title course-title-underline"></p>
        <i class="fas fa-chevron-circle-down"></i>
        <p>Teilnehmer: <span class="course-attendees"></span></p>
        <p>Datum: <span class="course-date"></span></p>
    </div>
    <div class="col-xs-3 col-md-2">
        <button type="button" class="btn btn-light statistics-button">Statistiken</button>
    </div>
    <div class="col-xs-1 col-md-1 attendance-confirmation">
        <i class="fas fa-user-check"></i>
    </div>
</li>