<ul class="creation-container layout-styles" id="creation-container">
    <li class="information-container layout-styles container-margins element-color row" id="info-container">
        <h1 class="text-center text-shadow" id="creation-title">Neuen User anlegen</h1>
        <form name="registration">
            <div class="form-group">
                <label class="text-shadow">
                    Name
                </label>
                <input type="text" name="firstname" placeholder="Vorname">
                <input type="text" name="lastname" placeholder="Nachname">
            </div>
            <div class="form-group">
                <label class="text-shadow">
                    Aktuelle E-Mail
                </label>
                <input type="email" name="email" placeholder="E-Mail">
            </div>
            <div class="form-group">
                <label class="text-shadow">
                    Passwort erstellen
                </label>
                <input type="password" name="password" placeholder="Passwort">
                <input type="password" name="password-confirmation" placeholder="Passwort bestätigen">
            </div>
            <input type="checkbox" name="admin"><label class="text-shadow">Admin User</label>
            <button type="submit" class="btn btn-light submit-creation">Registrieren</button>
        </form>
    </li>
</ul>