<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" charset="UTF-8">


    <!--Stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/landing-page.css">
    <link rel="stylesheet" href="../css/course-item.css">
    <link rel="stylesheet" href="../css/info-container.css">
    <link rel="stylesheet" href="../css/registration-container.css">
    <link rel="stylesheet" href="../css/course-creation-container.css">
    <link rel="stylesheet" href="../css/add-attendee-container.css">
    <link rel="stylesheet" href="../css/add-dates-container.css">
    <link rel="stylesheet" href="../css/profile-container.css">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!--Model-->
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script src="../../model/Firebase.js"></script>
    <script src="../../model/User.js"></script>
    <script src="../../model/Course.js"></script>
    <script src="../../model/Statistics.js"></script>

    <!--Controller-->
    <script src="../../controller/Utils.js"></script>
    <script src="../../controller/Authentication.js"></script>
    <script src="../../controller/Statistics.js"></script>
    <script src="../../controller/Rendering.js"></script>

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Moment-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Datepicker-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/js/bootstrap-datetimepicker.min.js"></script>


    <!-- WebWorker -->
    <script>
        let worker;
        if (typeof(Worker) !== "undefined") {
            if (typeof(worker) == "undefined") {
                worker = new Worker("../../controller/WebWorker.js");
            }
            console.log("Web worker started to work.");
            worker.onmessage = function(e) {
                if (e.data.msg !== undefined) {
                    renderUserLandingPage(e.data.msg);
                }
                console.log(e.data);
            };
        } else {
            console.log("Web workers not supported from browser.")
        }
    </script>

</head>
<body>
    <div id="root"></div>
</body>
</html>