<li class="information-container layout-styles container-margins element-color row" id="info-container">
    <div class="attendees-information">
        <ul class="left-margin">
            <li class="attendees-list add-feature-row" id="add-attendees">
                <i class="fas fa-plus-circle" id="plus-icon-attendees"></i>
                <p class="add-attendees">Teilnehmer hinzufügen</p>
            </li>
        </ul>
    </div>
    <div class="dates-information">
    <ul>
        <li class="dates-list add-feature-row row" id="add-dates">
                <i class="fas fa-plus-circle" id="plus-icon-dates"></i>
                <p class="add-dates">Datum hinzufügen</p>
            </li>
        </div>
    </ul>
    <div class="scrollable attendees-information">
        <ul class="left-margin">
            <li class="attendees-list ">
                <p>Max Mustermann</p>
            </li>
            <li class="attendees-list ">
                <p>Thomas Andersen</p>
            </li>
            <li class="attendees-list ">
                <p>Hans Peter</p>
            </li>
            <li class="attendees-list ">
                <p>Hans Peter</p>
            </li>
            <li class="attendees-list ">
                <p>Hans Peter</p>
            </li>
            <li class="attendees-list ">
                <p>Hans Peter</p>
            </li>
        </ul>
    </div>
    <div class="scrollable dates-information">
        <ul>
            <li class="dates-list row">
                <p>1.12.2019</p>
            </li>
            <li class="dates-list row">
                <p>2.12.2019</p>
            </li>
            <li class="dates-list row">
                <p>3.13.2019</p>
            </li>
            <li class="dates-list row">
                <p>2.12.2019</p>
            </li>
            <li class="dates-list row">
                <p>3.13.2019</p>
            </li>
        </ul>
    </div>
</li>