<li class="information-container layout-styles container-margins element-color row">
    <div class="attendees-information">
        <ul class="left-margin">
            <li class="attendees-list add-feature-row">
                <i class="fas fa-plus-circle" id="plus-icon-attendees"></i>
                <p class="add-attendees">Teilnehmer hinzufügen</p>
            </li>
        </ul>
    </div>
    <div class="dates-information">
    <ul>
        <li class="dates-list add-feature-row row">
                <i class="fas fa-plus-circle" id="plus-icon-dates"></i>
                <p class="add-dates">Datum hinzufügen</p>
            </li>
    </ul>
    </div>
    <div class="scrollable attendees-information">
        <ul class="left-margin attendees-list-view">
        </ul>
    </div>
    <div class="scrollable dates-information">
        <ul class="dates-list-view">
        </ul>
    </div>
</li>