<header>
    <h1 id="appName">TakePart</h1>
    <span class="header-right">
        <p class="right-elements" id="register">Neue Registrierung</p>
        <p class="right-elements" id="logout">Abmelden</p>
    </span>
</header>
<div class="container layout-spaces" id="main-container">
    <ul class="list-item layout-styles" id="course-list">
        <li class="list-element row element-color text-shadow container-margins">
            <div class="col-lg-12 top-margin course-data">
                <i class="fas fa-plus-circle" id="plus-icon-course"></i>
                <p id="add-course">
                    Kurs hinzufügen
                </p>
            </div>
        </li>

        <!-- TODO: should be loaded 30 min before the course starts -->

        <li class="list-element row element-color text-shadow container-margins">
            <div class="col-xs-5 col-md-6 course-data">
                <p class="course-title">Karate</p>
                <p>Teilnehmer: <span class="course-attendees">50</span></p>
                <p>Datum: <span class="course-date">1.12.2019</span></p>
            </div>
            <div class="col-xs-3 col-md-2">
                <button type="button" class="btn btn-light statistics-button">Statistiken</button>
            </div>
            <div class="col-xs-4 col-md-4 attendance-affirmation">
                <i class="fas fa-check-circle"></i>
                <p>teilnehmen</p>
            </div>
        </li>
    </ul>

    <ul class="create-course-list layout-styles" id="create-course-container">
        <li class="create-course-container layout-styles container-margins element-color row" id="create-course-element">
            <div class="create-course-title row">
                <h1 class="text-center text-shadow" id="create-course-title">Neuen Kurs hinzufügen</h1>
            </div>
            <div class="form-container different-height">
                <form name="create-course" class="create-course">
                    <div class="form-group">
                        <label class="text-shadow">
                            Titel
                        </label>
                        <input type="text" class="form-control" name="course-title" placeholder="Kurstitel">
                    </div>
                    <button type="button" class="btn btn-light back">Zurück</button>
                    <button type="submit" class="btn btn-light submit-creation">Hinzufügen</button>
                </form>
            </div>
        </li>
    </ul>

</div>