<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--Database scripts-->
    <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script src="../../model/firebase.js"></script>
    <script src="../../model/Authentication.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../css/landing-page.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <div class="container course">
        <ul class="course-list">
            <div class="row">
                <li class="list-element">
                    <i class="fas fa-plus-circle"></i>
                    <span class="course-add">
                        Kurs hinzufügen
                    </span>
                </li>
            </div>
            <div class="row">
                <li class="list-element">
                    <span class="course-title">
                        Fußball
                    </span>
                    <div class="course-attendees">
                        Teilnehmer:
                        <span>23</span>
                    </div>
                    <div class="course-date">
                        Datum:
                        <span>2.4.2018</span>
                    </div>
                    <span class="attendance">
                        Teilnahme %
                        <div class="attendance-percentage">75%</div>
                        <div class="statictics">
                            <button type="button" class="btn btn-light statistics-button">Statistiken</button>
                        </div>
                    </span>
                </li>
            </div>
            <div class="row">
                <li class="list-element">
                    <span class="course-title">
                        Karate
                    </span>
                    <div class="course-attendees">
                        Teilnehmer:
                        <span>5</span>
                    </div>
                    <div class="course-date">
                        Datum:
                        <span>1.12.2018</span>
                    </div>
                    <span class="attendance">
                        Teilnahme %
                        <div class="attendance-percentage">85%</div>
                        <div class="statictics">
                            <button type="button" class="btn btn-light statistics-button">Statistiken</button>
                        </div>
                    </span>

                </li>
            </div>
        </ul>
    </div>
</body>
</html>