<header>
    <h1 id="appName">TakePart</h1>
    <span class="header-right">
        <p class="right-elements" id="register">Neue Registrierung</p>
        <p class="right-elements" id="logout">Abmelden</p>
    </span>
</header>
<div class="container layout-spaces" id="main-container">
    <ul class="list-item layout-styles" id="course-list">
        <li class="list-element row element-color text-shadow container-margins" id="add-course">
            <div class="col-lg-12 top-margin course-data">
                <i class="fas fa-plus-circle" id="plus-icon-course"></i>
                <p id="add-course-p">
                    Kurs hinzufügen
                </p>
            </div>
        </li>
    </ul>
</div>