<div class="jumbotron vertical-center">
    <div class="container login">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-header"><!-- add logo maybe --></div>
                    <div class="panel-heading">
                        <span class="login-heading">Anmeldung</span>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="email" type="email" class="form-control" name="email" placeholder="Benutzername">
                            </div>


                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="remember-me">
                                <label class="form-check-label rememberPw" for="remember-me">angemeldet bleiben</label>
                            </div>
                        </form>

                        <button type="button" class="btn btn-primary" id="submit-button">Anmelden</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


