<ul class="list-top-margin layout-styles" id="user-profile">
    <li class="user-profile-container container-style container-margins element-color row" id="user-profile-element">
        <div class="container-header row">
            <h1 class="text-center text-shadow container-header-font col-lg-12 col-md-12 col-sm-12" id="create-course-title">Ihr Profil</h1>
        </div>
        <form name="user-profile-form" class="user-profile row">
            <div class="form-group user-avatar col-lg-3 col-md-3 col-sm-5">
                <p class="text-shadow photo">
                    Profil Foto:
                </p>
                <div id="profile-container">
                    <div class="image-container">
                    <img src="" alt="" class="user-photo" id="avatar-image">
                    <input id="avatar-image-input" type="file" name="avatar-image" placeholder="Photo">
                    </div>
                </div>
            </div>
            <div class="user-data col-lg-7 col-md-7 col-sm-5">
                <p class="text-shadow user-data-margin">Name: <span class="user-name text-shadow"></span></p>
                <p class="text-shadow user-data-margin">E-mail: <span class="user-mail text-shadow"></span></p>
            </div>
        </form>
        <button type="button" class="btn btn-light" id="back-button-profile">Zurück</button>
    </li>
</ul>
