<ul class="list-top-margin layout-styles" id="registration-container">
    <li class="registration-container layout-styles container-style container-margins element-color row" id="info-container">
        <div class="container-header row">
            <h1 class="text-center text-shadow" id="creation-title">Neuen Benutzer registrieren</h1>
        </div>
        <div class="form-container">
            <form name="registration" class="registration" id="registration-form">
                <div class="form-group">
                    <label class="text-shadow label-mobile-font-size">
                        Name
                    </label>
                    <input type="text" class="form-control form-margin" name="firstname" placeholder="Vorname" id="first-name">
                    <input type="text" class="form-control form-margin"  name="lastname" placeholder="Nachname" id="last-name">
                </div>
                <div class="form-group">
                    <label class="text-shadow label-mobile-font-size">
                        Aktuelle E-Mail
                    </label>
                    <input type="email" class="form-control form-margin"  name="email" placeholder="E-Mail" id="email">
                </div>
                <div class="form-group">
                    <label class="text-shadow label-mobile-font-size">
                        Passwort erstellen  (min. 6 Zeichen eingeben)
                    </label>
                    <input type="password"  class="form-control form-margin" name="password" placeholder="Passwort" id="password">
                    <input type="password"  class="form-control form-margin" name="password-confirmation" placeholder="Passwort bestätigen" id="password-check">
                </div>
                <div class="checkbox">
                    <label class="text-shadow label-mobile-font-size">
                        <input type="checkbox" name="admin" id="is-admin-check"> Admin Profil
                    </label>
                </div>
                <button type="button" class="btn btn-light back" id="back-button-registration">Abbrechen</button>
                <button type="submit" class="btn btn-light submit-creation">Registrieren</button>
            </form>
        </div>
    </li>
</ul>