<svg viewBox="0 0 220 120" width="auto" height="auto">
    <rect x="10" y="10" width="200" height="100" fill="white"></rect>
    <style>
        .y-labels { font: italic 0.3vw sans-serif; }
        .x-labels { font: italic 0.3vw sans-serif; }
        .stat1-title { font: italic 0.5vw sans-serif; }
    </style>

    <g class="stat1-title">
    </g>

    <g class="axis">
        <line x1="10" y1="10" x2="10" y2="110" stroke="black"></line>
        <line x1="10" y1="110" x2="210" y2="110" stroke="black"></line>
    </g>


    <g class="y-labels" >
        <text x="1" y="10">100%</text>
        <text x="1" y="20">90%</text>
        <text x="1" y="30">80%</text>
        <text x="1" y="40">70%</text>
        <text x="1" y="50">60%</text>
        <text x="1" y="60">50%</text>
        <text x="1" y="70">40%</text>
        <text x="1" y="80">30%</text>
        <text x="1" y="90">20%</text>
        <text x="1" y="100">10%</text>
        <text x="1" y="110">0%</text>
    </g>

    <g class="x-labels" id="stat1-x-labels">
    </g>

    <g class="stat1-lines">
    </g>

</svg>
