/* container styles */

.add-attendee-container {
    height: 58rem;
}

/* inside container */

.user-list-container {
    overflow: scroll;
    margin-top: 4%;
    height: 36rem;
    float: left;
    width: 50%;
}

.user-list {
    height: 36rem;
}

.user-list-element {
    padding: 1.2rem 0 1.2rem 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-image: linear-gradient( #ffffff, #d8d8d8 );
    text-align: center;
    width: 100%;
    color: #114e87;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.user-list-element:hover {
    cursor: grab;
}

.user-name-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-right: 1em;
}


/* styles for left list */

.course-container {
    float: right;
    width: 50%;
}


/* styles for right box */

.drop-box {
    border: 1px solid white;
    height: 36rem;
    width: 90%;
    margin-top: 8%;
    margin-left: 2%;
}

/* button styles */

.add-attendee-button-layout {
    color: #337ab7;
    width: 8em;
    margin: 3em 2.4em 0 3em;
    font-size: 1.5rem;
}

.submit-adding-attendees {
    float: right;
}

.back-adding-attendees {
    float: left;
}

@media (min-width:360px) and (max-width: 992px)
{
    .submit-adding-attendees {
        margin-right: 1.5em;
    }
}