/* general styles */

ul {
    list-style-type: none;
}

/* container boxes styles */

.list-element {
    font-size: 1.5rem;
    height: 8.5em;
    box-shadow: 0.9rem 1rem 0.5rem -0.2rem rgba(0,0,0,0.63);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
}

/* elements on left side of boxes*/

.course-data {
    padding: 1em 0 0 2em;
}

.top-margin {
    margin-top: 3rem;
}

.fa-chevron-circle-down {
    font-size: 2rem;
    margin-left: 4px;
}

.course-title {
    font-size: 2.4rem;
    font-weight: bold;
    display: inline-block;
}

.course-title-underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* elements on right of boxes */

.attendance-percentage {
    font-weight: bold;
    text-align: center;
}

.statistics-button {
    color: #337ab7;
    font-size: 1.5rem;
    width: auto;
    margin-top: 3em;
}

.button-container {
    display: flex;
    justify-content: center;
}

.statistics-button:hover {
    color: #0e3e6b;
}

@media (min-width:360px) and (max-width: 540px)
{
    .top-margin {
        margin-top: 2rem;
    }

    .statistics-button {
        font-size: 1rem;
    }

    .statistics-button-ready {
        width: 6em;
        margin-top: 5em;
        padding-left: 7px;
        font-size: 0.9rem;
    }

    .list-element {
        font-size: 1.2rem;
    }

    .course-title {
        font-size: 2rem;
    }

    .fa-chevron-circle-down {
        font-size: 1.5rem;
    }

    .course-data-ready, .course-data-accepted {
        padding: 1.2em 0 0 1.2em;
    }
}

@media (min-width:360px) and (max-width: 992px)
{
    .desktop-view {
        display: none;
    }
}