/* general styles */

div.different-height {
    height: 60%;
}

/* container styles */

.create-course-container {
    height: 20rem;
}

#create-course-title {
    font-size: 3rem;
}

.create-course {
    width: 40%;
}