/* general styles*/

li.add-feature-row {
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    background-image: none;
    background-color: #0F4170;
    color: white;
    margin-top: 2.5rem;
}

.add-feature-row:hover {
    cursor: pointer;
}

.left-margin {
    margin-left: -2.5rem;
}

/* container styles*/

.information-container {
    height: 25em;
    box-shadow: 0.9rem 1rem 0.5rem -0.2rem rgba(0,0,0,0.63);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    width: auto;
}

.scrollable {
    overflow: scroll;
    height: 70%;
}

@media (min-width:360px) and (max-width: 992px)
{
    .scrollable {
        max-height: 65%;
    }
}

/* styles for left list*/

.attendees-information {
    float: left;
    width: 50%;
}

.add-attendees, .add-dates {
    margin-left: 1rem;
}

#plus-icon-attendees, #plus-icon-dates {
    font-size: 2.5rem;
    margin-left: 10rem;
}

.attendees-list, .dates-list {
    padding: 1.6rem 0 1.6rem 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-image: linear-gradient( #ffffff, #d8d8d8 );
    text-align: center;
    width: 100%;
    color: #114e87;
}

/* styles for right list*/

.dates-information {
    float: right;
    width: 50%;
}
