/* general styles*/

li.add-feature-row {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    background-image: none;
    background-color: #0F4170;
    color: white;
    margin-top: 2.5em;
}

.add-feature-row:hover {
    cursor: pointer;
}

.left-margin {
    margin-left: -2.5rem;
}

/* container styles*/

.information-container {
    height: 25em;
    box-shadow: 0.9rem 1rem 0.5rem -0.2rem rgba(0,0,0,0.63);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    width: auto;
}

svg {
    margin-top: 1%;
}

.scrollable {
    overflow: scroll;
    height: 65%;
}

@media (min-width:360px) and (max-width: 992px)
{
    i.plus-icon-info{
        margin-left: 0.5em;
    }
}

/* styles for left list*/

.attendees-information {
    float: left;
    width: 50%;
}

.add-attendees, .add-dates {
    margin-left: 1rem;
}

.plus-icon-info {
    font-size: 2.5rem;
}

.attendees-list, .dates-list {
    padding: 1em 0 1em 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-image: linear-gradient( #ffffff, #d8d8d8 );
    text-align: center;
    width: 100%;
    color: #114e87;
}

/* styles for right list*/

.dates-information {
    float: right;
    width: 50%;
}


@media (min-width:360px) and (max-width: 540px)
{
    .information-container {
        height: 15em;
    }
    .add-attendees, .add-dates {
        font-size: 1rem;
        margin-left: 0.4em;
    }

    i.plus-icon-info{
        font-size: 1rem;
    }
    .attendees-list-view, .dates-list-view {
        font-size: 1rem;
    }
}

@media (max-width:361px) {
    .add-attendees, .add-dates {
        font-size: 0.9rem;
    }
}

