/* general styles*/

html,
body {
    min-height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient( #114e87, lightblue);
}

header {
    height: 10rem;
    overflow: hidden;
    background-color: #114e87;
    padding: 0 1.5em;
    box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0,0,0,0.63);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin-bottom: 0;
}


.header-container {
    width: 100%;
}

.text-center {
    text-align: center;
}

.layout-spaces {
    padding-left: 5%;
    margin-bottom: 5%;
}

.element-color {
    background-color: #337ab7;
}

.text-shadow {
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
}

.layout-styles {
    width: 90%;
    color: #FFFFFF;
}

.list-top-margin {
    margin-top: 4%;
}

.container-margins {
    margin-bottom: 2.5rem;
}

.container-style {
    box-shadow: 0.9rem 1rem 0.5rem -0.2rem rgba(0,0,0,0.63);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    width: auto;
}
/* header styles */

#appName {
    width: 0;
    font-size: 6rem;
    color: #FFFFFF;
    margin: 1.5rem 0;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
    cursor: pointer;
}

.header-right {
    color: #FFFFFF;
    font-size: 2rem;
    float: right;
}

.right-elements {
    display: inline;
    text-shadow: -0.1rem 0 black, 0 0.1rem black, 0.1rem 0 black, 0 -0.1rem black;
    margin-left: 1em;
}

.right-elements:hover {
    background-color: #0e3e6b;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

#mobile-bar {
    background-color: #0f4170;
    display: none;
}

.mobile-bar-elements {
    color: #FFFFFF;
}

.element {
    padding: 0.5em 1.5em;
}

/* container header styles */
.container-header {
    background-color: #0e3e6b;
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.container-header-font {
    font-size: 3rem;
}

/* list item container styles */

.list-item {
    margin-top: 4%;
}


#plus-icon-course {
    font-size: 4.5rem;
    position: absolute;
}

#plus-icon-course:hover {
    cursor: pointer;
}

#add-course-p {
    font-size: 3rem;
    font-weight: bold;
    padding-left: 2em;
    margin-top: 0.2em;
    display: inline-block;
}

#add-course-p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* TODO: maybe separate css file */
/* styling for the attendance button */

.attendance-confirmation {
    border: 1px solid black;
    height: 100%;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #0F4170;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.attendance-confirmation:hover {
    cursor: pointer;
}

.fa-check-circle {
    padding-right: 0.5em;
}

/* styling for small devices */

@media (min-width:360px) and (max-width: 768px)
{
    #appName {
        font-size: 3rem;
    }

    .header-right {
        font-size: 1.6rem;
    }

}

@media (min-width:360px) and (max-width: 540px)
{
    label {
        font-size: 1.2rem;
    }

    .right-elements {
        display: none;
    }

    .right-element-mobile {
        display: block;
        font-size: 1.5em;
    }

    #add-course-p {
        font-size: 2rem;
    }

    #plus-icon-course {
        font-size: 3.5rem;
    }

    .container-header-font {
        font-size: 2rem;
    }

    .attendance-confirmation {
        font-size: 1rem;
    }
}

@media (min-width:540px)
{
    i.right-element-mobile {
        display: none;
    }
}