ul {
    list-style-type: none;
}

.list-element {
    background-color: #337ab7;
    margin-bottom: 2.5rem;
    color: white;
    font-size: 14px;
    height: 100px;
    width: 88%;
    padding-left: 25px;
    box-shadow: 9px 10px 5px -2px rgba(0,0,0,0.63);
    padding-top: 12px;
}

.list-element:hover {
    cursor: pointer;
}

.course-title {
    font-size: 18px;
    font-weight: bold;
}

.course-add {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-left: 45px;
}

.fa-plus-circle {
    font-size: 35px;
    position: absolute;
}

.attendance-percentage {
    font-size: 18px;
    font-weight: bold;
    margin-left: 2.5rem;
}

.statictics {
    color: #337ab7;
}

.add {
    margin-top: 2%;
}

.right {
    padding-left: 45px;
}