.login-container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    height: 40rem;
}

.login-form {
    width: 40%;
}

div.height {
    height: 70%;
}

#remember {
    margin-left: 10%;

}

.rememberPw {
    font-size: 1.2rem;
    margin-left: 5px;
}

.glyphicon-lock, .glyphicon-user {
    color: #337ab7;

}

.white-background {
    background-color: #FFFFFF;
}

.login-button {
    color: #337ab7;
    width: 100%;
}

.login-button:hover {
    color: #0e3e6b;
}

.bottom-margin {
    margin-bottom: 0.5rem;
}

@media (min-width:360px) and (max-width: 540px)
{
    .login-form {
        width: auto;
    }
}