.login-container {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.panel-heading {
    font-size: 2rem;
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
    width: 75%;
    margin-left: 10%;
}

#remember {
    margin-left: 10%;

}

.form-check {
    margin-left: 10%;
}

.rememberPw {
    font-size: 1.2rem;
    margin-left: 5px;
}

.login-button {
    width: 75%;
    margin-left: 10%;
}
