/* container styles */

.user-profile-container {
    height: 44rem;
}

.user-profile {
    height: 70%;
}

.photo {
    font-size: 2.5rem;
}

.user-avatar {
    margin-left: 10%;
    margin-top: 4%;
}

#avatar-image-input {
    margin-top: 10px;
}

.user-data {
    margin-top: 10%;
    font-size: 2.5rem;
}

@media (min-width:360px) and (max-width: 992px)
{
    .user-data {
        margin-top: 10%;
        font-size: 1.5rem;
    }
}

.user-data-margin {
    margin-bottom: 1.5rem;
}

.user-photo {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user-name, .user-mail {
    margin-left: 1rem;
}

#back-button-profile {
    color: #337ab7;
    float: right;
    margin-right: 2%;
}

#back-button-profile:hover {
    color: #0e3e6b;
}

.image-container {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 1em;
}
@media (min-width:360px) and (max-width: 540px)
{
    .photo {
        font-size: 1.5rem;
    }

    .user-data {
        font-size: 1.2rem;
        margin-left: 10%;
    }

    #back-button-profile {
        margin-right: 5%;
        margin-top: 2%;
    }
}

@media (min-width:360px) and (max-width: 992px)
{
    .user-data {
        margin-left: 10%;
    }
}