/* general styles */
label {
    font-size: 1.5rem;
}

/* container styles */

.registration-container {
    height: 45rem;
}

/* inside container */

#creation-title {
    font-size: 3rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.registration {
    width: 40%;
}

.form-margin {
    margin-bottom: 0.2rem;
}

.submit-creation {
    color: #337ab7;
    width: 8em;
    float: right;
}

.submit-creation:hover {
    color: #0e3e6b;
}

.back {
    color: #337ab7;
    width: 8em;
    float: left;
}

.back:hover {
    color: #0e3e6b;
}