/* general styles */
label {
    font-size: 1.5rem;
}

/* container styles */

.registration-container {
    height: 45rem;
}

/* inside container */

#creation-title {
    font-size: 3rem;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.registration {
    width: 40%;
}

.form-margin {
    margin-bottom: 0.2rem;
}

.submit-creation {
    color: #337ab7;
    width: 8em;
    float: right;
}

.submit-creation:hover {
    color: #0e3e6b;
}

.back {
    color: #337ab7;
    width: 8em;
    float: left;
}

.back:hover {
    color: #0e3e6b;
}

@media (min-width:360px) and (max-width: 540px)
{
    .back {
        font-size: 1rem;
    }

    .submit-creation {
        font-size: 1rem;
    }

    #creation-title {
        font-size: 2rem;
    }

    .form-container {
        height: auto;
    }

    .registration {
        width: 60%;
    }

    .label-mobile-font-size {
        font-size: 1.2rem;
    }
}